.sidebar {
    position: absolute;
    top: 100%;
    left: -250px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: left 0.4s ease-in-out; 
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .sidebar.open {
    left: -3px; 
    backdrop-filter: (2px);
  }
  
  .sidebar-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-items {
    list-style: none;
    padding: 20px;
    font-weight:bold ;
  }
  
  .sidebar-items li {
    margin: 15px 0;
    font-size: 18px;
    color: #ffffff; 
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
  }
  
  .sidebar-items li:hover {
    font-size: 19px;
    text-shadow: #ffffff 0px 0px 1.5px;
  }
  
  .sidebar-items li:last-child {
    border-bottom: none; 
  }
