.authButtons {
    display: flex;
    align-items: center;
    gap: 1rem; /* Space between buttons */
}

.authButton {
    border: none;
    border-radius: 0.5rem; /* Rounded corners */
    padding: 0.75rem 2rem; /* Padding inside the button */
    font-size: 1rem; /* Font size */
    font-weight: 600; /* Bold text */
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition */
    outline: none;
    text-transform: uppercase; /* Uppercase text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow for better visibility */
}

.loginButton {
    background-color: rgba(118, 225, 229, 0.9); 
    color: #ffffff; 
}

.loginButton:hover {
    background-color: rgba(0, 220, 228, 1); 
}

.logoutButton {
    background-color: rgba(246, 157, 20, 0.9);
    color: #fff; 
}

.logoutButton:hover {
    background-color: rgba(250, 133, 0, 1);
}

.dashboardButton {
    background-color: rgba(76, 175, 80, 0.9); 
    color: #fff; 
}

.dashboardButton:hover {
    background-color: rgba(15, 161, 22, 1);
}
