.navbar {
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7); 
    position: relative; 
    z-index: 1000; 
}

.greeting-container {
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-left: 0; 
    transition: transform 0.3s ease-in-out;
    position: relative; 
    cursor: pointer;
}



.greeting-text {
    font-size: 1.1rem;
    color: #ffffff; 
    font-weight: 500;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.greeting-text:hover {
    background-color: rgba(240, 248, 255, 0.459);
    border-radius: 9px;
}

.greeting-icon {
    margin-left: 0.5rem;
    color: #ffffff; 
    width: 2.5rem;
    height: 2.5rem;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.2); 
    color: #ffffff;
    backdrop-filter: blur(35px);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    position: absolute;
    right: 30px; 
    margin-top: 0.5rem; 
    z-index: 1000; 
    display: none; 
    top: 50px;
    transition: display 0.5s ease; 
}

.dropdown-menu.show {
    display: block; 
}

.dropdown-menu ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.dropdown-menu li {
    padding: 0.5rem 1rem; 
    cursor: pointer; 
}

.dropdown-menu li:hover {
    background-color: rgba(255, 255, 255, 0.3); 
}

.sidebar-link{
    cursor: pointer;
    padding: 5px;
    margin-right: 80px;
}

.sidebar-link:hover{
    background-color: rgba(240, 248, 255, 0.459);
    border-radius: 30%;
    padding: 5px;
}